<div class="container">
  <%= form_tag do %>
  <div class="form-group">
     <%=text_area_tag 'ingredients', @ingredients ,class:"form-control",id:"input_area",autofocus:true %>
  </div>
  <%=  submit_tag 'Scan',class:'btn btn-info btn-lg btn-submit'  %>
</div>
<% end %>


<div class = "container">
  <% if !@ingredients.blank? %>
    <% if @isNotSafe %>
      <p>Product contains: </p>
    <% else %>
      <p>Product is safe</p>
    <% end %>
    <% if @uniqFoundIngredients %>
      <% @uniqFoundIngredients.each do |ingredients|%>
        <p><%=ingredients %></p>
      <% end %>

    <% end%>
  <% end%>


</div>

