
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float:left;
//   font-size:1.7em;
  text-transform:uppercase;
  letter-spacing:-1px;
  font-weight:bold;
}
#logo:hover{
  text-decoration:none;
}
#input_area{
  height:150px;
  resize:none;
}
.form-control:focus{border-color: #5bc0de;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}


@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}